:8080 {
	file_server {
		root {$VNC:/opt/noVNC}
		index vnc.html
	}

	@root {
		path /
		query ""
	}
	redir @root /?resize=scale&autoconnect=true

	@ws {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @ws http://127.0.0.1:5800
	rewrite /websockify /
}
